<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--configSections must be first in the content-->
  <configSections>
    <sectionGroup name="payments" type="ConfigurationManagement.ConfigFile.PaymentsConfig,ConfigurationManagement.ConfigFile">
      <section name="credentials" type="ConfigurationManagement.ConfigFile.PaymentsCredentialsConfig,ConfigurationManagement.ConfigFile"/>
      <section name="service" type="ConfigurationManagement.ConfigFile.PaymentsServiceConfig,ConfigurationManagement.ConfigFile"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <payments xmlns="http://tempuri.org/XMLSchema.xsd">
    <credentials username="youknowme" password='secretservice' />
    <service url="http://www.papypal.com" />
  </payments>
</configuration>